* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    list-style: none;
    color: white;
    font-family: sans-serif;
}

body {
    background-image: url(images/slider.jpg);
    background-position: center;
    background-size: cover;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 50px;
}

.logo img {
    max-width: 150px;
    height: auto;
}

.navmenu {
    display: flex;
}

.navmenu a {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 4px 5px;
    margin: 0 22px;
    border-bottom: 2px solid transparent;
    transition: all 0.4s;
}

.navmenu a:hover {
    color: #d3d3d3;
    border-bottom: 2px solid white;
}

.shop-btn {
    font-size: 14px;
    text-transform: uppercase;
    background-color: #ce1b41;
    border: 2px solid #ce1b41;
    padding: 10px 20px;
    border-radius: 25px;
    transition: all 0.4s;
}

.shop-btn:hover {
    background-color: transparent;
    border: 2px solid white;
    border-radius: 35px;
    transition: all 0.4s;
}

#menu-icon {
    display: none;
    font-size: 35px;
    z-index: 10001;
    cursor: pointer;
}

section {
    padding: 5% 10%;
}
/* *** main view section *** */
.home {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
}

.home-text h4 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 16px;
}

.home-text h1 {
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.home-text p {
    font-size: 16px;
    max-width: 460px;
    line-height: 28px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.home-text p span {
    font-weight: bold;
}

.home-input {
    width: 100%;
    max-width: 460px;
    position: relative;
}

.home-input input:first-child {
    display: inline-block;
    width: 85%;
    outline: none;
    padding: 16px 140px 16px 15px;
    border: none;
    border-radius: 30px;
}

.home-input input:last-child {
    position: absolute;
    display: inline-block;
    border: 1px solid #152f5d;
    background-color: #152f5d;
    text-transform: capitalize;
    font-size: 15px;
    padding: 16px 40px;
    border-radius: 30px;
    cursor: pointer;
    
    right: 10px;
}

.right {
    position: absolute;
    top: 70%;
    right: -150px;
    padding: 0 5%;
    transform: rotate(90deg);    
}

.right a {
    margin: 0 15px;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 500;
    transition: all 0.4s;
}

.right a:hover {
    color: #ce1b41;
}

@media (max-width:995px) {
    header {
        padding: 18px 20px;
        transition: 0.3s;
    }
}

@media (max-width:685px) {
    .home-text h4 {
        font-size: 16px;
        transition: 0.3s;
    }

    .home-text h1 {
        font-size: 40px;
        transition: 0.3s;
    } 

    .home-text p {
        font-size: 14px;
        transition: 0.3s;
    }
}

@media (max-width:425px) {
    .home-text h1 {
        font-size: 35px;
        transition: 0.3s;
    }
}

@media (max-width:580px) {
    .right {
        right: -120px;
        transition: 0.3s;
        top: 50%;
    }
}

@media (max-width:925px) {
    #menu-icon {
        display: block;
    }

    .navmenu {
        position: absolute;
        top: -600px;
        left: 0;
        right: 0;
        flex-direction: column;
        text-align: center;
        background-color: #152f5d;
        transition: all 0.4s;
    }

    .navmenu a {
        display: block;
        padding: 16px;
        margin: 8px;
    }

    .navmenu.open {
        top: 100%;
    }
}

@media (max-width:825px) {
    .shop-btn {
        background-color: #152f5d;
        border: 2px solid #152f5d;
    }
}